@model Chatter.Models.ChatFeed

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChatFeed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TweetContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TweetContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TweetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TweetDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TweetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
